src/les2/PostcodeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/PowerServerResponse" 
xmlns:tns="http://www.example.org/PowerServerResponse" 
elementFormDefault="qualified">
<xs:element name="response">
<xs:complexType>
	<xs:sequence>
		<xs:element name="straat" type="xs:string" />
		<xs:element name="plaats" type="xs:string" minOccurs="1" />
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>